<!-- Sidebar -->
<button id="close-sidebar" type="submit" class="btn btn-sm btn-primary btn-close-sidebar"><span class="glyphicon glyphicon-remove"></span></button>
<div id="sidebar-wrapper">
	<div class="sidebar-nav">
    	<div ng-repeat="venue in venues | filter:query" class="panel panel-default">
			<div class="panel-heading"><a  ng-href="#/venues/{{venue.id}}">{{venue.name}}</a></div>
		  	<div class="panel-body">
                {{venue.location.address}}, {{venue.location.city}}			  	
			</div>
		</div>
	</div>
</div>
<!-- /#sidebar-wrapper -->


<!-- A small JQuery Script got showing/hiding the sidebar -->
<script>
	$(document).ready(function(){

    $("#close-sidebar").click(function(){
    	$("#sidebar-wrapper").hide();
    	$("#close-sidebar").hide();
    });
    
	});
</script>
