		<map center="Thessaloniki" zoom="12">
		  	<div ng-repeat="venue in venues">
				<marker position="{{venue.lat}},{{venue.lng}}" icon="{{venue.categories[0].icon.prefix}}bg_32{{venue.categories[0].icon.suffix}}" title="{{venue.name}}" on-click="showInfoWindow(event,'{{venue.id}}-info')"></marker>
			  	<info-window id="{{venue.id}}-info" visible-on-marker="{{venue.name}}">
			    	<div ng-non-bindable="">
				    	<venue-details></venue-details>
			   		</div>
			  	</info-window>
			</div>
		</map>
