/* app css stylesheet */

body {
  font-family: Open Sans;
}

a {
  text-decoration: none;
}

#GoogleMaps { 
  height: 100%; 
  width: 100%; 
  position:absolute; 
  top: 0; 
  right: 0; 
  z-index: 0; /* layer 0 (background) */
}
 
#Container { 
  position: relative; 
  z-index: 1; /* layer 1 (foreground) */
  width: 300px;
  margin: auto;
  padding: 10px;
  background: #47a3da;
  height: auto;
  opacity: .90;
  color: white;
}

#Container input {
  color: black;
}

#PageTitle {
  text-align: center;
  position: relative; 
  z-index: 1; /* layer 1 (foreground) */
  width: 300px;
  margin: auto;
  height: auto;
  opacity: .90;
  color: #afdefa;
  font-size: 1.9em;
  padding: 10px;
  font-weight: 300;
  background: #0d77b6;
}

#Search {
  text-align: center;
}

/* sidebar styling */
.sidebar {
  background: #47a3da;
  position: fixed;
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 1; /* layer 1 (foreground) */
  right: -240px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: .90;
}

.sidebar h3 {
  color: #afdefa;
  font-size: 1.9em;
  padding: 10px;
  margin: 0;
  background: #0d77b6;
  font-weight: 300;
}

.sidebar a {
  text-decoration: none;
  color: #fff;
}

.sidebar a:hover {
  text-decoration: none;
  color: #fff;
}

.sidebar a:active {
  text-decoration: none;
  color: #fff;
}

.sidebar a:visited {
  text-decoration: none;
  color: #fff;
}

.sidebar a:link {
  text-decoration: none;
  color: #fff;
}

.sidebar .venue {
  display: block;
  border-bottom: 1px solid #258ecd;
  padding: 0.8em;
  font-weight: 300;
  color: white;
}

.sidebar .info {
  font-size: 0.8em;
}

.sidebar .venue:hover {
  background: #258ecd;
}

.sidebar .venue:active {
  background: #afdefa;
}

.showSidebar {
  right: 0px;
}

@media screen and (max-height: 26.375em){

  .sidebar {
    font-size: 90%;
    width: 190px;
    right: -190px;
  }

}

/* topbar styling */
.topbar {
  position: fixed;
  height: 30px;
  z-index: 1; /* layer 1 (foreground) */
  top: -50px;
  right: 260px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #0d77b6;
  color: #afdefa;
  padding: 2px;
  font-size: 1em;
  margin: 0;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.topbar option {
      background: white;
      color: black;

}

.topbar option:disabled {
    text-decoration: none;
}

.showTopbar {
  top: 0px;
}



.venue-details {
  z-index: 1;
}

.modal-header {
  background: #0d77b6 !important;
  color: #afdefa !important;
  padding: 5px !important;
  font-size: 1em !important;
  margin: 0 !important;
  border-radius: 0px !important;
  
}

.modal-header h4 {
  color: #afdefa !important;
  font-size: 1.9em !important;
  padding: 10px !important;
  margin: 0 !important;
  background: #0d77b6 !important;
  font-weight: 300 !important;
}

.modal-body {
  background: #47a3da !important;
  display: block !important;
  border-bottom: 1px solid #258ecd !important;
  padding: 0.8em !important;
  font-weight: 300 !important;
  color: white !important;
}