<h4><img ng-repeat="category in venue.categories" src="{{category.icon.prefix}}32{{category.icon.suffix}}"/> {{venue.name}}</h4>

<div id="venue-info" class="venue-info">
	<p id="category">Keywords: <span ng-repeat="category in venue.categories"> #{{category.shortName}}</span></p>

	<p class="address">{{venue.location.address}}, {{venue.location.postalCode}} {{venue.location.city}}</p>

	<p class="stats">Checkins: {{venue.stats.checkinsCount}}, Total Visitors: {{venue.stats.usersCount}}, Comments: {{venue.stats.tipsCount}}</p>

	<p class="url">Url: {{venue.url}}</p>

	<p class="rating">Rating: {{venue.rating}}</p>

	<p class="photo">{{venue.photos.groups[0].items[0].prefix}}</p>

	<p class="lastUpdated">{{venue.lastUpdated}}</p>
</div>