/* app css stylesheet */

body {
  font-family: Open Sans;
}

a {
  text-decoration: none;
}

#GoogleMaps { 
  height: 100%; 
  width: 100%; 
  position:absolute; 
  top: 0; 
  right: 0; 
  z-index: 0; /* layer 0 (background) */
}
 
#Container { 
  position: relative; 
  z-index: 1; /* layer 1 (foreground) */
  width: 300px;
  margin: auto;
  padding: 10px;
  background: #47a3da;
  height: auto;
  opacity: .90;
  color: white;
}

#Container input {
  color: black;
}

#PageTitle {
  text-align: center;
  position: relative; 
  z-index: 1; /* layer 1 (foreground) */
  width: 300px;
  margin: auto;
  height: auto;
  opacity: .90;
  color: #afdefa;
  font-size: 1.9em;
  padding: 10px;
  font-weight: 300;
  background: #0d77b6;
}

#Search {
  text-align: center;
}

/* sidebar styling */
.sidebar {
  background: #47a3da;
  position: fixed;
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 1; /* layer 1 (foreground) */
  right: -240px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;

}

.sidebar h3 {
  color: #afdefa;
  font-size: 1.9em;
  padding: 10px;
  margin: 0;
  font-weight: 300;
  background: #0d77b6;
}

.sidebar a {
  display: block;
  color: #fff;
  font-weight: 300;
  border-bottom: 1px solid #258ecd;
  padding: 0.8em;
}

.sidebar a:hover {
  background: #258ecd;
}

.sidebar a:active {
  background: #afdefa;
  color: #47a3da;
}

.showSidebar {
  right: 0px;
}

@media screen and (max-height: 26.375em){

  .sidebar {
    font-size: 90%;
    width: 190px;
    right: -190px;
  }

}